*{
  margin: 0;
  box-sizing: border-box;
  font-family: 'Nunito','sans-serif';
}

body{
  background-color: #fb6565;
}

.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #000;
}

.a{
  position: relative;
  display: inline-block;
  padding: 25px 30px;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #03e9f4;
  font-size: 1.2rem;
  font-weight: bold;
  transition: .5s;
  overflow: hidden;
  margin-right: 70px;
}

.a:hover {
  background-color: #03e9f4;
  color: #050801;
  box-shadow: 0 0 5px #03e9f4
              0 0 25px #03e9f4
              0 0 50px #03e9f4
              0 0 200px #03e9f4;
  -webkit-box-reflect: below 1px linear-gradient(transparent,#0005);
}

.a:first-child{
  filter: hue-rotate(225deg);
}

.a:last-child{
  filter: hue-rotate(90deg);
}
.a span{
  position: absolute;
  display: block;
}

.a span:nth-child(1){
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(90deg,transparent, #03e9f4);
  animation: animate1 1s infinite ;
}

@keyframes animate1 {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}
.a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 1px;
  height: 100%;
  background: linear-gradient(180deg,transparent,#03e9f4);
  animation: animate2 1s infinite;
  animation-delay: .25s;
}

@keyframes animate2 {
  0% {
    top: -100%;
  }
  100% {
    top: 100%;
  }
}

.a span:nth-child(3) {
  bottom: 0;
  right: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(270deg,transparent,#03e9f4);
  animation: animate3 1s infinite;
  animation-delay: .5s;
}

@keyframes animate3 {
  0% {
    right: -100%;
  }
  100% {
    right: 100%;
  }
}

.a span:nth-child(4){
  bottom: -100%;
  left: 0;
  width: 1px;
  height: 100%;
  background: linear-gradient(360deg,transparent,#03e9f4);
  animation: animate4 1s infinite;
}

@keyframes animate4 {
  0% {
    bottom: -100%;
  }
  100% {
    bottom: 100%;
  }
}
h1{
  text-align: center;
  padding: 0.68em 0;
  text-shadow: 0 4px 4px rgb(0,0,0,0.25);
  font-size: 3em;
}

main{
  width: 50%;
  min-width: 30em;
  margin: 0 auto;
}

#userText{
  width: 100%;
  height: 12em;
  background-color: #d85f5f;
  color: #fff;
  padding: 0.75em 1.05em;
  border: none;
  resize: none;
  box-shadow: inset 0 4px 4px rgba(0,0,0,0.25);
}

#userText::placeholder{
  color: rgba(255,255,255,0.75);
}

#userText:focus{
  outline: 2px solid #000;
}

.btn-group{
  display: flex;
  margin-top: 0.3em;
  margin-bottom: 2em;
}

.btn{
  width: 50%;
  padding: 1em;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  background-color: #ff7d7d;
  font-size: 1.1em;
  color: #ffcdcd;
  box-shadow: 0 4px 4px rgba(0,0,0,0.25);
}

.btn:hover{
  color: #fff;
}

.btn:active{
  box-shadow: inset 0 4px 4px rgba(0,0,0,0.25);
}

.analysis{
  border-top: 10px solid #a14141;
  background-color: #db5656;
  box-shadow: inset -1px 0 4px rgba(0,0,0,0.25);
}

.analysis > h2{
  margin: 1em 0;
  text-align: center;
  font-size: 1.5em;
  text-transform: uppercase;
  color: #3e3e3e;
}

.all-analysis{
  margin-left: 2em;
  text-transform: capitalize;
  color: #fff;
  letter-spacing: 1.2px;
  padding-bottom: 1em;
  display: flex;
  flex-wrap: wrap;
}

.all-analysis > h4{
  width: 50%;
  line-height: 2em;
}