* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  text-decoration: none;
}
body{
  background-color: black;
}

.a{
  
  position: relative;
  display: inline-block;
  padding: 35px ;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #03e9f4;
  font-size: 1.2rem;
  font-weight: bold;
  transition: .5s;
  overflow: hidden;
  margin-left: 550px;
  margin-top: 10px;
}

.a:hover {
  background-color: #03e9f4;
  color: #050801;
  box-shadow: 0 0 5px #03e9f4
              0 0 25px #03e9f4
              0 0 50px #03e9f4
              0 0 200px #03e9f4;
  -webkit-box-reflect: below 1px linear-gradient(transparent,#0005);
}

.a span{
  position: absolute;
  display: block;
}

.a span:nth-child(1){
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(90deg,transparent, #03e9f4);
  animation: animate1 1s infinite ;
}

@keyframes animate1 {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}
.a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 1px;
  height: 100%;
  background: linear-gradient(180deg,transparent,#03e9f4);
  animation: animate2 1s infinite;
  animation-delay: .25s;
}

@keyframes animate2 {
  0% {
    top: -100%;
  }
  100% {
    top: 100%;
  }
}

.a span:nth-child(3) {
  bottom: 0;
  right: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(270deg,transparent,#03e9f4);
  animation: animate3 1s infinite;
  animation-delay: .5s;
}

@keyframes animate3 {
  0% {
    right: -100%;
  }
  100% {
    right: 100%;
  }
}

.a span:nth-child(4){
  bottom: -100%;
  left: 0;
  width: 1px;
  height: 100%;
  background: linear-gradient(360deg,transparent,#03e9f4);
  animation: animate4 1s infinite;
}

@keyframes animate4 {
  0% {
    bottom: -100%;
  }
  100% {
    bottom: 100%;
  }
}
#he{
  height: 200px;
  width: 50%;
}

.wrapper{
  background-color: black;
  height: 500px;
  width: 890px;
  border-radius: 18px;
  box-shadow: 0 0 30px 1px white;
  margin-left: 270px;
  margin-top: 80px;

}

textarea{

  width: 100%;
  resize: none;
  background-color: #FFFFFF;
  border: 2px solid #C7CAF5;
  font-size: 16px;
  line-height: 30px;
  padding: 15px;
  border-radius: 3px;
  color: black;
  outline: none;
  margin-top: 20px;
}
/* .wrapper{
  display: flex;
  justify-content: space-between;
}
.wrapper input{
  width: 60%;
  padding: 10px 5px;
  border-radius: 3px;
  border: 1px solid #C7CAF5;
}
.wrapper button{
  width: 30%;
  background-color: #C7CAF5;
  border: none;
  outline: none;
  cursor: pointer;
  color: #ffffff;
  border-radius: 3px;
} */